<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.member">
	
	<insert id="join" parameterType="com.web.vo.MwMemberVO" >
		insert into 
		<choose>
			<when test="maddr1 != null">
				mw_member (memail, mpass, mname, mhp, maddr1, maddr2, msg_sms, msg-email) 
					values (#{memail},#{mpass},#{mname},#{mhp},#{maddr1},#{maddr2},#{msg_sms},#{msg_email})
			</when>
			<otherwise>
				mw_member (memail, mpass, mname, mhp, msg_sms, msg-email) 
					values (#{memail},#{mpass},#{mname},#{mhp},#{msg_sms},#{msg_email})
			</otherwise>
		</choose>
	</insert> 
</mapper>