<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.order">

	<insert id="insert_cart" parameterType="com.web.vo.MwCartVO">
		insert into mw_cart
		values('c_'||sequ_mw_cart_cid.nextval, #{c_pnum}, #{c_qnt}, #{memail})
	</insert>

	<select id="select_cart" parameterType="java.lang.String" resultType="com.web.vo.MwCartVO">
		select c_pnum, c_qnt, cid, pname, pprice, psaleprice, pmainsfile, pstock, memail
		from mw_product mw, mw_cart mc
		where mw.pnum = mc.c_pnum
		<choose>
			<when test="value != null">
				and memail = #{memail}
			</when>
			<otherwise>
				and memail is null
			</otherwise>		
		</choose>
	</select>

	<select id="select_cart_count" parameterType="com.web.vo.MwCartVO" resultType="int">
		select count(*) from mw_cart
		where c_pnum = #{c_pnum} 
		<choose>
			<when test="memail != null">
				and memail = #{memail}
			</when>
			<otherwise>
				and memail is null
			</otherwise>		
		</choose>
	</select>
	
	<update id="update_qnt" parameterType="com.web.vo.MwCartVO">
		update mw_cart
		set c_qnt = #{c_qnt}
		where cid = #{cid}
	</update>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from mw_cart
		where cid = #{cid}
	</delete>
	
	<select id="select_item" parameterType="java.lang.String" resultType="com.web.vo.MwCartVO">
		select c_pnum, c_qnt, cid, pname, pprice, psaleprice, pmainsfile, pstock
 		from mw_product mw, mw_cart mc 
    	where mw.pnum = mc.c_pnum 
    	and cid = #{cid}
	</select>
	
	<insert id="insert_order" parameterType="com.web.vo.MwOrderVO">
		insert into mw_order
		values(to_char(sysdate,'yyyymmdd')||LPAD(sequ_mw_order_oid.nextval, 4, '0'), 
			#{oproducts}, #{obuyer}, #{ob_hp}, #{ob_email}, sysdate, 
		    #{orecipient}, #{or_hp}, #{or_post}, #{or_addr1}, #{or_addr2}, #{ototal},
		    #{opayment}, null, 3000, #{oship_memo}, 0, #{ocids})
	</insert>
	
	<update id="update_stock" parameterType="java.lang.String">
		update mw_product
		set pstock = (select pstock-c_qnt from mw_product mp, mw_cart mc where mp.pnum = mc.c_pnum and cid = #{cid})
		where pnum = (select c_pnum from mw_cart where cid=#{cid})
	</update>
	
	<select id="select_order" resultType="com.web.vo.MwOrderVO">
		select oid, obuyer, to_char(odate, 'yyyy-mm-dd') odate, oproducts, ototal, ostatus 
		from( select oid, obuyer, odate, oproducts, ototal, ostatus
			from mw_order 
			order by odate desc)	
	</select>
	
	<select id="select_order_content" parameterType="java.lang.String" resultType="com.web.vo.MwOrderVO">
		select oid, oproducts, obuyer, ob_hp, ob_email, to_char(odate, 'yyyy-mm-dd') odate,
			orecipient, or_hp, or_post, or_addr1, or_addr2, ototal,
			opayment, oinvoice, oshipment, oship_memo, ostatus
		from mw_order
		where oid = #{oid}	
	</select>
	
	<insert id="insert_order_details" parameterType="map">
		insert into mw_order_details(odid, od_oid, o_pnum, o_qnt)
	    select sequ_mw_order_detail_id.nextval, mo.oid, mc.c_pnum, mc.c_qnt 
	    from mw_order mo, mw_cart mc 
	    where mc.cid = #{cid} and mo.oid = #{oid}
	</insert>
	
	<select id="select_oid" resultType="java.lang.String">
		select oid from (select oid from mw_order order by odate desc) 
		where rownum =1
	</select>
	
	<select id="select_pname" parameterType="java.lang.String" resultType="java.lang.String">
		select pname from mw_product where pnum=#{pnum}
	</select>
	
	<select id="select_order_details" parameterType="java.lang.String" resultType="com.web.vo.MwOrderVO">
		select oid, o_pnum, o_qnt, pprice, psaleprice, pname, pmainsfile
	  	  from mw_order mo, mw_order_details mo_d, mw_product mp
		    where mo.oid = mo_d.od_oid
	       		and mo_d.o_pnum = mp.pnum
	        	and mo.oid = #{oid}
	</select>
	
	<select id="count" resultType="int">
		select count(*) from mw_order
	</select>
	
	<select id="list" parameterType="map" resultType="com.web.vo.MwOrderVO">
		select rno, oid, obuyer, odate, oproducts, ototal, ostatus, oinvoice
    	from(        
        	select rownum rno, oid, obuyer, to_char(odate, 'yyyy-mm-dd') odate, oproducts, ototal, ostatus, oinvoice
			from( 
        	    select oid, obuyer, odate, oproducts, ototal, ostatus, oinvoice
            	    from mw_order 
                	order by odate desc))
            	where rno between #{start} and #{end}
	</select>
	
	<select id="select_order_list" parameterType="java.lang.String" resultType="com.web.vo.MwOrderVO">
		select oid, to_char(odate, 'yyyy-mm-dd') odate, ostatus 
		from(
			select oid, odate, ostatus 
				from mw_order mo, mw_member mm 
					where mo.ob_email = mm.memail and memail = #{memail}
				order by odate desc)
	</select>
	
	<update id="update_order_status" parameterType="com.web.vo.MwOrderVO">
		update mw_order
		set ostatus = #{ostatus}
		where oid = #{oid}
	</update>
	
	<update id="update_invoice" parameterType="com.web.vo.MwOrderVO">
		update mw_order
		set oinvoice = #{oinvoice}
		where oid = #{oid}
	</update>
	
</mapper>    
