<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.product">


	<insert id="insert" parameterType="com.web.vo.MwProductVO">
		insert into mw_product
		<choose>
			<when test="pmainfile != null">
				<choose>
					<when test="ptagimage != null">
						values('p_'||sequ_mw_product_pnum.nextval,#{pname},#{pprice},#{psaleprice},#{ptagimage},#{pcategory},#{pstock},
							#{pmainfile}, #{pmainsfile})	
					</when>
					<otherwise>
						values('p_'||sequ_mw_product_pnum.nextval,#{pname},#{pprice},#{psaleprice},null,#{pcategory},#{pstock},
							#{pmainfile}, #{pmainsfile})
					</otherwise>
				</choose>
			</when>
			<otherwise>
				<choose>
					<when test="ptagimage != null">
						values('p_'||sequ_mw_product_pnum.nextval,#{pname},#{pprice},#{psaleprice},#{ptagimage},#{pcategory},#{pstock},
							null, null)	
					</when>
					<otherwise>
						values('p_'||sequ_mw_product_pnum.nextval,#{pname},#{pprice},#{psaleprice},null,#{pcategory},#{pstock},
							null, null)	
					</otherwise>
				</choose>
			</otherwise>
		</choose>
	</insert>
	
	<select id="select" parameterType="map" resultType="com.web.vo.MwProductVO">
      select mp.PNUM,PNAME,PPRICE,PSALEPRICE,PTAGIMAGE,PCATEGORY,PSTOCK,PMAINFILE,PMAINSFILE
      from MW_PRODUCT mp
   	</select> 
	<!--    
	   <select id="select" resultType="com.web.vo.MwProductVO">
	      select * from mw_product
	   </select>
	   
	   <select id="count" resultType="int">
	      select count(*) from mw_product
	   </select>
	 -->   
		
</mapper>    







