<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.review">

	<insert id="insert" parameterType="com.web.vo.MwReviewVO">
		insert into mw_review
 		<choose>
			<when test="vfile != null">
				values('v_'||sequ_Mw_review_vid.nextval, sysdate,
						#{vscore}, #{vcontent}, #{vpnum}, #{vmemail}, #{vfile}, #{vsfile})
			</when>
			<otherwise>
				(vid, vdate, vscore, vcontent, vpnum, vmemail)
					values('v_'||sequ_Mw_review_vid.nextval, sysdate, #{vscore}, #{vcontent}, #{vpnum}, #{vmemail})	
			</otherwise>
		</choose>
	</insert>

	<select id="count" resultType="int">
		select count(*) from mw_review
	</select>
	
	<select id="list" parameterType="map" resultType="com.web.vo.MwReviewVO">
		select rno, vdate, vscore, vcontent, vsfile, memail, msprofile, pname from (
		    select rownum rno, vdate, vscore, vcontent, vsfile, memail, msprofile, pname from
		    	mw_review left join mw_member on mw_review.vmemail = mw_member.memail left join mw_product on mw_review.vpnum = mw_product.pnum order by vdate desc)
			 where rno between #{start} and #{end}
	</select>
	
	<select id="countCategory" resultType="int">
		select count(*) from mw_review where vsfile != 'null'
	</select>
	
	<select id="listCategory" parameterType="map" resultType="com.web.vo.MwReviewVO">
		select rno, vdate, vscore, vcontent, vsfile, memail, msprofile, pname from(
		    select rno, vdate, vscore, vcontent, vsfile, memail, msprofile, pname from (
		        select rownum rno, vdate, vscore, vcontent, vsfile, memail, msprofile, pname from mw_review left join mw_member on mw_review.vmemail = mw_member.memail left join mw_product on mw_review.vpnum = mw_product.pnum order by vdate desc)
	            where rno between #{start} and #{end})
            where vsfile != 'null'
	</select>	
	
</mapper>    
