<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.recipe">


	<insert id="insert" parameterType="com.web.vo.MwRecipeVO">
		insert into mw_recipe
			values('r_'||sequ_Mw_recipe_rid.nextval, #{rcategory}, #{rtitle}, #{rcontent}, 0, sysdate)		
	</insert>
	
	<select id="select_rid" resultType="java.lang.String">
		select rid from (select rid from mw_recipe order by rdate desc) where rownum = 1
	</select>
	
	<insert id="insert_file" parameterType="com.web.vo.MwRecipeVO">
		insert into MW_RECIPE_FILE
			values(#{rid},					
		<foreach collection="rfiles" item="rfile" separator="," index="i">
			<if test="i &lt; 6"> 
           		#{rfile}
           	</if>
        </foreach>
		,
        <foreach collection="rsfiles" item="rsfile"  separator="," close=")">
        	<if test="i &lt; 6"> 
         		#{rsfile}
        	</if>
        </foreach>
	</insert>

	<select id="count" resultType="int">
		select count(*) from mw_recipe
	</select>
	
	<select id="list" parameterType="map" resultType="com.web.vo.MwRecipeVO">
		select rno, rid, rcategory, rtitle, rsfile1, rfavorite, rdate
			from (select rownum rno, rid, rcategory, rtitle, rsfile1 ,rfavorite, to_char(rdate, 'yyyy-mm-dd') rdate
				from (select * from mw_recipe left join mw_recipe_file on mw_recipe.rid = mw_recipe_file.fid order by rdate desc)
			) where rno between #{start} and #{end}
	</select>	


	
</mapper>    
