@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style-type: none;}
a[href] {text-decoration: none;}

hr.adminHr{
	border: 1px #e7e7e7 solid;
}


hr.adminHr+div{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F2F2F2;
	flex-direction: column;
}

div.adminWrap{
	background: #F2F2F2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div.adminWrap>div.welcome,
div.adminWrap>div.adminBox,
div.adminWrap>div.memberInfo,
div.adminWrap>div.member_table{
	width: 62em; height: 240px;
	margin-top: 50px;
	margin-left: 200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border:none;
}

div.adminWrap>div:first-of-type {
	background: #fff;
}

div.adminWrap>div.welcome>div>img,
div.adminWrap>div:nth-of-type(2)>div>img{
	border-radius: 50%;
	/* border:1px black solid; */
	width: 90px; height: 90px;
	margin: 0 30px 0 40px;
}

div.adminWrap>div.welcome>div>p{
	margin-bottom: 10px;
}

div.adminWrap>div.welcome>div>p:first-of-type{
	font-size: 16pt;
}

div.adminWrap>div.welcome>div>p:first-of-type>a>span{
	color: #0042A9;
}

div.adminWrap>div:not(:first-of-type){
	margin-bottom: 50px;
}

div.adminWrap>div.adminBox>ul>li{
	background: rgb(10,33,85);
	margin-bottom: 10px;
	padding: 15px;
	width: 61.2em;/*임시*/
}

div.adminWrap>div.adminBox>ul>li:hover{
	background: rgba(10,33,85,0.5);
}

div.adminWrap>div:not(:first-of-type)>ul>li>a{
	display: block;
	color:#fff;
}

div.adminWrap>div.member_table{
	height: 500px;
}

div.member_table table{
	border-collapse: collapse;
	text-align: center;
	width: 63em;
	border: none;
	border-top: 1px black solid;
}

div.member_table table tr{
	height: 40px;
}

div.member_table table tr td{
	border: none;
	border-bottom: 1px black solid;
}

div.member_table table tr:last-of-type td,
div.member_table table tr:nth-of-type(12) td{
	border:none;
}

div.member_table table tr:nth-of-type(12) td{
	padding-top: 20px;
}

div.member_table table input[type='text'],
div.memberInfo+div table input[type='text'],
div.recipeDiv>div table input[type='text'],
div.orderDiv>div table input[type='text']{
	width: 180px; height: 30px;
	border: none;
	border-bottom: 1px black solid;
	background: transparent;
	padding-right: 20px;
}

div.member_table table span,
div.memberInfo+div table span,
div.recipeDiv>div table tr:nth-of-type(5) span{
	position: relative;
	top: 11px; left: -25px;
}

div.member_table table tr td:nth-of-type(2),
div.member_table table tr td:nth-of-type(3) {
	cursor: pointer;
}

hr.adminHr+div>div:first-of-type{
	width: 150px; height: 300px;
	position: absolute;
	top: 236px; left:43px;
}

hr.adminHr+div>div:first-of-type ul li{
	margin-bottom: 12px;
}
hr.adminHr+div>div:first-of-type ul li a{
	color: black;
	font-size: 10pt;
}


div.memberInfo>div:nth-of-type(2) {
	width: 53em; height: 100%;
}

div.memberInfo>div:nth-of-type(2) table{
	width: 100%; height: 100%;
	text-align: center;
	border-collapse: collapse;
	border:none;
}
div.memberInfo{
	background: #fff;
}

div.memberInfo>div:nth-of-type(2) table tr{
	border: none;
}
div.memberInfo>div:nth-of-type(2) table tr td{
	border: none;
	border-bottom: #e4e4e4 1px solid;
	border-right: #e4e4e4 1px solid;
}

div.memberInfo>div:nth-of-type(2) table tr td:last-of-type{
	border-right: none;
}
div.memberInfo>div:nth-of-type(2) table tr:nth-of-type(5) td:first-of-type,
div.memberInfo>div:nth-of-type(2) table tr:last-of-type td{
	border-bottom: none;	
}

div.memberInfo>div:nth-of-type(2) table tr td:first-of-type,
div.memberInfo>div:nth-of-type(2) table tr td:nth-of-type(3) {
	background: #e4e4e4;
}	

div.memberInfo>div:nth-of-type(2) table tr:last-of-type td,
div.memberInfo>div:nth-of-type(2) table tr:nth-of-type(5) td:last-of-type{
	background: #fff;
}

div.memberInfo+div p{
	position: absolute;
	top: 835px;
}

div.memberInfo+div table{
	background: white;
	width: 68em;
	font-size: 11pt;
	border-collapse: collapse;
	border: none;
}

div.memberInfo+div table tr td{
	padding: 5px 3px;
	border: none;
}

div.memberInfo+div table tr{
	border: none;
}

div.memberInfo+div table tr td:first-of-type {
	text-align: left;
}

div.memberInfo+div table tr td:last-of-type,
div.memberInfo+div table tr td:nth-of-type(2) {
	text-align: right;
}

div.memberInfo+div table tr:last-of-type td,
div.memberInfo+div table tr:nth-of-type(6) td{
	text-align: center;
	background: #F2F2F2;
}


/* 상품 관리 */
	.category {
      display: flex;
	  justify-content: center;
	  margin-bottom:10px;
	  padding: 45px 0 10px 0;	  
      }   
      
	.category span {
      padding:15px;
      color: gray;
      font-size: 14px;    
      }
	
/* 	<%--카테고리 클릭시 밑줄 들어가게 --%> */
	.category a{ 
		color: Black; 
		text-decoration:underline;
		}
	.category_line{
		color:black; 
		text-decoration:underline;
	}	
		
	.category span:hover{
		color: black;
		
	}
	
	.contents_line{
		content: "";
		flex-grow: 1;
		background: #a9a9a9;
		height: 1.2px;
		font-size: 0px;
		line-height: 0px;
	}
	
	.contents {
	  display: flex;
	  justify-content: center; 
	  align-items: center;
	  margin: 20px 0px;
	 
	}
	strong{font-size: 15px; color: black; }
	.contents1{
		margin: 20px 10px 20px 10px;
	}
	.contents2{
		margin: 50px 10px 30px 10px;
	}
	.contents3{
		margin: 0px 10px 31px 10px;
	}
	.contents4{
		margin: 0px 10px 13px 10px;
	}


/* 	<%--이미지 눌렀을때 불투명하게 --%> */
	.re {
		opacity: 1;
 		filter:alpha(opacity=100);
	}
	
	.re:hover{
		opacity: 0.7;
		filter:alpha(opacity=75);
	}		
		
		
	#percent{
	 color: #FF0000;
	}		
	
	h4{font-size: 15px; margin: 15px 0;}
	.contents1 p {font-size: 12px; margin: 7px 0;}
	.contents2 p {font-size: 12px; margin: 7px 0;}
	.contents3 p {font-size: 12px; margin: 7px 0;}
	.contents4 p {font-size: 12px; margin: 7px 0;}
	
	.material-symbols-outlined {
	  font-variation-settings:
	  'FILL' 0,
	  'wght' 300,
	  'GRAD' 0,
	  'opsz' 30
		}
		
button.productButton{
	width: 100px; height: 30px;
	background: rgb(11,47,127);
	cursor: pointer;
	color: white;
	font-size: 9.5pt;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	position: relative;
	margin-left: 1150px;
}

button.productButton:hover{
	background: rgb(33,104,177);
}

div.reviewDiv>ul>li>button{
	position:relative;
	width: 40px;
	left: 78em; 
	cursor: pointer;
	margin: 0;
	border: none;
	background: transparent;
	color: #989898;
}

td.mini1>button:hover{
	color: #000;
	text-decoration: underline;
}

div.open_modal{
	position: relative;
	top: -8px;
	cursor: pointer;
}

div.reviewDiv ul:first-of-type{
	padding-top: 5px;
	padding-bottom: 25px;
	margin-left: 5px;
	visibility: hidden;
}

div.reviewDiv ul:first-of-type li,
div.recipeDiv ul:first-of-type li{
	display: inline-block;
	font-size: 11pt;
	color: #888;
	cursor: pointer;
	padding-right: 5px;
}
div.recipeDiv ul:first-of-type li:hover{
	color: #000;
}

div.reviewDiv ul:last-of-type li{
	padding: 10px;
	width: 70em;
	border-bottom: 0.7px #dedede solid;
}

div.reviewDiv ul:last-of-type li:first-of-type {
	border-top: 0.7px #dedede solid;
}

div.reviewDiv ul:last-of-type li:last-of-type{
	border-bottom:none;
	text-align: center;
}

div.reviewDiv>h2,
div.recipeDiv>h2 {
	text-align: center;
	margin: 50px 0 ;
}

div.reviewDiv>table{
	position: relative;
	left: -440px;
	border-collapse: collapse;
	text-align: center;
	border: none;
}

div.reviewDiv>table tr{
	border: none;
}

div.reviewDiv>table tr td{
	padding-bottom: 5px;
	border: none;
	color: #888;
	cursor: pointer;
}

div.adminWrap>div.recipeDiv{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff;
}

div.recipeDiv>ul#recipeTypes{
	margin-bottom: 20px;
}
div.recipeDiv>ul#recipeTypes li{
	font-size: 10pt;
	padding: 5px 10px;
}

div.recipeDiv>div:first-of-type>table tr td{
	width: 400px;
	padding: 10px;
}


div.recipeContents>a:first-of-type>img{
	margin-bottom: 10pt;
}

div.recipeContents strong,
div.recipeContents span{
	font-size: 10.5pt;
	color: #000;
}

div.recipeContents strong{
	color:rgb(11,47,127);
}

div.recipeContents span.material-symbols-outlined,
div.orderDiv span.material-symbols-outlined{
	position: relative;
	top:5px;
}

div.recipeContents>a:last-of-type>img{
	position: relative;
	top: 7px;
}

button.deleteRecipe,
button.hideRecipe{
	position:relative;
	width: 40px;
	cursor: pointer;
	margin: 0;
	border: none;
	background: transparent;
	color: #989898;
	left: 315px;
	top: -27px;
}

button.deleteRecipe:hover,
button.hideRecipe:hover{
	color: #000;
	text-decoration: underline;
}

div.recipeDiv>div table tr:nth-of-type(5),
div.recipeDiv>div table tr:last-of-type {
	text-align: center;	
}

div.reviewDiv{
	background: #fff;
	margin: 50px 0;
	padding: 0 30px;
}

div.orderDiv{
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 50px auto;
	padding: 20px 0;
}

div.orderDiv>ul#orderStatus{
	margin-left: 20px;
	margin-top: 5px;
}

div.orderDiv>ul#orderStatus li{
	display: inline-block;
	font-size: 11pt;
	color: #888;
	margin-right: 10px;
	cursor: pointer;
}

div.orderDiv>ul#orderStatus li:nth-of-type(odd):hover{
	color: #000;
}

div.orderDiv>div{
	width: 80em;
	margin-top: 20px;
}

div.orderDiv>div>table{
	font-size: 11pt;
	width: 100%;
	table-layout: fixed;
	text-align: center;
	border-collapse: collapse;
	border: none;
}

div.orderDiv>div>table tr{
	border: none;
}

div.orderDiv>div>table tr td{
	padding: 15px 3px;
	border: none;
}

div.orderDiv>div>table tr:first-of-type{
	color: #999;
}

div.orderDiv>div>table td:nth-of-type(4){
	width: 350px;
}

div.orderDiv>div>table td a{
	color: #000;
}

div.order_detailDiv{
	width: 62em; 
	margin-top: 50px;
	margin-left: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

div.order_detailDiv>div{
	background: #fff;
	width: 100%;
	border: 0.6px #ddd solid;
}

div.order_detailDiv>h3{
	margin-bottom: 20px;
}

div.order_detailDiv>div:first-of-type{
	width: 93.7%;
	padding: 10px 31px;
	margin-bottom: 10px;
	font-size: 10pt;
}

div.order_detailDiv>div:first-of-type span{
	padding: 10px 0;
	display: inline-block;
}

div.order_detailDiv>div:first-of-type span:nth-of-type(odd){
	margin-right: 10px;
	color: #aaa;
}

div.order_detailDiv>div:first-of-type span:nth-of-type(even){
	margin-right: 20px;
}

div.order_detailDiv>div:nth-of-type(2){
	margin-bottom: 30px;
}

div.order_detailDiv>div:nth-of-type(2)>table{
	width: 100%;
	border-collapse: collapse;
	border: none;
	font-size: 10pt;
}

div.order_detailDiv>div:nth-of-type(2)>table tr td{
	border: 0.6px #ddd solid;
	border-right: none;
}

div.order_detailDiv>div:nth-of-type(2)>table tr td img{
	width: 80px; height: 80px;
	padding: 10px 0;
	margin: 0 20px;
}

div.order_items{
	padding: 15px 0;
	width: 300px;
}

div.order_items>ul li:first-of-type p{
	font-size: 11pt;
}

div.order_items>ul li:nth-of-type(2) p{
	color: #999;
}

div.order_detailDiv>div:nth-of-type(2)>table tr:first-of-type td p{
	margin-left: 30px;
	padding: 10px 0;
	color: #999;
}
div.order_detailDiv>div:nth-of-type(2)>table tr:first-of-type td:nth-of-type(2) p{
	margin-left: 0px;
}

div.order_detailDiv>div:nth-of-type(2)>table tr td:nth-of-type(2){
	text-align: center;
}

div.order_detailDiv>div:nth-of-type(2)>table tr td:first-of-type{
	width: 550px;
}

div.order_detailDiv>div:nth-of-type(2)>table tr td:last-of-type{
	width: 300px;
}

div.order_detailDiv>div:nth-of-type(2)>table tr td:last-of-type p{
	margin-left:40px;
}

div.order_detailDiv>div:nth-of-type(2)>table tr td div{
	display: flex;
	justify-content: flex-start;
}

div.order_detailDiv>h4:first-of-type+div,
div.order_detailDiv>h4:nth-of-type(2)+div{
	margin-bottom: 20px;
}

div.order_detailDiv>h4:first-of-type+div table,
div.order_detailDiv>h4:nth-of-type(2)+div table{
	width: 100%;
	border-collapse: collapse;
	border:none;
}

div.order_detailDiv>h4:first-of-type+div table tr td,
div.order_detailDiv>h4:nth-of-type(2)+div table tr td{
	padding: 10px 20px;
	font-size: 10pt;
	border:none;
}

div.order_detailDiv>h4:first-of-type+div table tr:first-of-type td,
div.order_detailDiv>h4:nth-of-type(2)+div table tr:first-of-type td{
	padding-top: 20px;
}

div.order_detailDiv>h4:first-of-type+div table tr:last-of-type td,
div.order_detailDiv>h4:nth-of-type(2)+div table tr:last-of-type td{
	padding-bottom: 20px;
}

div.order_detailDiv>h4:first-of-type+div table tr td:first-of-type,
div.order_detailDiv>h4:nth-of-type(2)+div table tr td:first-of-type{
	width: 60px;
	color: #999;
}

div.order_detailDiv>h4:last-of-type+div table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border:none;
	font-size: 10pt;
}
div.order_detailDiv>h4:last-of-type+div table tr td{
	border: 0.6px #ddd solid;
	border-right: none;
}

div.order_detailDiv>h4:last-of-type+div div.money{
	display: flex;
	justify-content: flex-start;
}

div.order_detailDiv>h4:last-of-type+div div.money>div{
	width: 320px;
	display:flex;
	justify-content: space-between;
}

div.order_detailDiv>h4:last-of-type+div div.money span,
div.order_detailDiv>h4:last-of-type+div div.money>div span{
	display: inline-block;
	padding: 25px 15px;
}

div.order_detailDiv>h4:last-of-type+div div.money>div span:nth-of-type(even){
	font-size: 15pt;
	font-weight: bold;
	position: relative;
	top: -3px;
}

div.order_detailDiv>h4:last-of-type+div div.money>div:last-of-type span:last-of-type{
	color: rgb(11,47,127);
}


div.order_detailDiv>h4:last-of-type+div table tr:last-of-type td{
	padding: 10px;
	height: 200px;
	vertical-align: top;
}

div.order_detailDiv>h4:last-of-type+div table tr:last-of-type span:first-of-type{
	color: #999;
}

div.order_detailDiv>h4:last-of-type+div table tr:last-of-type td:first-of-type>div>div,
div.order_detailDiv>h4:last-of-type+div table tr:last-of-type td:nth-of-type(2)>div{
	display: flex;
	justify-content: space-between;
}

span.orderStatus_update{
	color: rgb(11,47,127);
	cursor: pointer;
}

div#order_popup,
div#orderDetail_popup{
	position:fixed;
	top:0;left:0;
	z-index: 1000; 
	width: 100%; height: 100%; 
	background-color: rgba(0, 0, 0, 0.4); 
}

div.order_popup_box{
	position: relative;
	top: 53%;left:51%; 
	height: 340px; width: 450px; /*height %로 하면 안됨!*/
	transform:translate(-50%, -50%);
	z-index:2000;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

div.orderDetail_popup_box{
	position: relative;
	top: 53%;left:51%; 
	height: 500px; width: 800px; /*height %로 하면 안됨!*/
	transform:translate(-50%, -50%);
	z-index:2000;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}


span#closeX2{
	cursor: pointer;
	position: absolute;
	top: 10px; left: 410px;
	color: #dedede;
}

span#closeX2:hover{
	color: #000;
}

div.popup_cont{
	height: 100%;
	width: 85%;
	display:block;
}

div.popup_cont>div:first-of-type{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div.popup_cont>div>p{
	font-weight: bold;
	font-size:13pt;
	margin: 10px 0;
}

div.popup_cont>div:last-of-type>p{
	margin-top:0px;
	margin-bottom: 20px;
}

div.popup_cont>div:last-of-type>div>input[type='text']{
	width: 260px;
	margin-right: 5px;
}

div.popup_cont>div:first-of-type>p+table{
	border-collapse: collapse;
	border: none;
	margin-top: 10px;
}

div.popup_cont>div:first-of-type>p+table td{
	border: none;
	padding: 10px 50px;
	cursor: pointer;
}
div.popup_cont>div:first-of-type>p+table td:hover{
	background: #eee;
}

div.popup_cont>div:first-of-type>p+table td p.orderStatus_change:hover{
	color: rgb(11,47,127);
	font-weight: bold;
}

#addInvoice{
	width: 50px;
	background: rgb(11,47,127);
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 5px;
}
form>select{
	width: 70px;
	height: 30px;
}

.product_detail_price{
	color: #0042A9;
	font-size: 12pt;
}

.former_price{
	text-decoration: line-through;
	font-size: 9pt;
}

div.contents1{
	text-align: left;
}

input.search_i{
	border:none;
	border-bottom: 1px #000 solid;
	margin-bottom: 20px;
	padding: 5px;
	width: 180px;
}

button.search_btn{
	background: #fff;
	border: none;
	position: relative;
	left: -25px;
	top:5px;
}

div.member_table{
	flex-direction: column;
}

table.member_order{
	position: relative;
	top: -40px;
}

table.member_order tr:first-of-type{
	background: #ddd;
}

table.member_order tr:first-of-type td:nth-of-type(2),
table.member_order tr td:last-of-type {
	padding-right: 10px;
}

table.member_order tr td:first-of-type {
	padding-left: 10px;
}

td.toMemberPage>a{
	color: #000;
	cursor: pointer;
}

td.toMemberPage>a:hover{
	color: #081D3F;	
	font-weight: bold;
}