@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

body {
}

/* 공통 */
div#join_outer {
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	position: fixed;
	width: 100%; height : 100%;
	overflow: hidden;
	padding-top: 10px;
	z-index: 1000;
	display: none;
	overflow-y: initial;
}

h2.join_title {
	text-align: center;
	margin-bottom: 15px;
	font-size: 15pt;
}

div.modal_exit {
	color: lightgray;
	font-size: 40px;
	position: absolute;
	left: 350px;
	top: 0px;
	cursor:pointer;
}

div.modal_exit:hover {
	color: black;
}

div.modal_exit:link {
	color: lightgray;
}

div.modal_exit:visited {
	color: lightgray;
}

div.modal_exit_ex {
	position: absolute;
	background: black;
	color: white;
	text-align: center;
	width: 40px;
	height: 15px;
	left: 345px;
	top: 40px;
	border-radius: 5px;
	font-size: 12px;
	display: none;
}

/* 화면1 */
#join_inner_1 {
	background: white;
	position: relative;
	width: 350px;
	height: 320px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	display: none;
}

div#mail_join {
	width: 350px;
	height: 30px;
	color: black;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-top: 13px;
	border: 1px solid #a9a9a9;
	margin-top: 30px;
	cursor: pointer;
}

#mail_join:hover {
	animation-name: borderColorAnimation;
	animation-duration: 0.2s;
	border: 1px solid black;
}

@keyframes borderColorAnimation{
	0% {border: 1px solid #a9a9a9;}
	100% {border: 1px solid black;}
}

#join_inner_1>hr {
	border: 0;
	height: 0.3px;
	background: #dedede;
	margin: 50px 0px;
}

#join_inner_1>hr+span {
	display: inline-block;
	width: 74px;
	font-size: 10pt;
	position: absolute;
	text-align: center;
	background: #fff;
	top: 163px;
	left: 155px;
}

#join_inner_1>span {
	
}

#naver_start {
	width: 350px;
	height: 30px;
	background: #66D05D;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	margin-top: 30px;
	cursor: pointer;
}

#kakao_start {
	width: 350px;
	height: 30px;
	background: #FCEC4F;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	margin-top: 10px;
	cursor: pointer;
}

/* 화면2 */
div#join_inner_2 {
	background: rgb(250,250,250);
	position: relative;
	width: 350px;
	height: 760px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	display: none;
	font-size: 10pt;
}

div.tos_box {
	padding: 5px 0px 0px 5px;
	background: #fff;
	overflow-x: hidden;
	width: 350px;
	height: 120px;
	border: 1px #a9a9a9 solid;
	border-radius: 5px;
	margin: 10px 0px;
}


.tos_check {
	zoom: 1.5;
	vertical-align: middle;
	cursor: pointer;
}

.join_inner_2_btn {
	display: inline-block;
	width: 169px;
	height: 40px;
	border: 1px solid black;
	padding: 10px 0;
	cursor: pointer;
}

div#join_inner_2 label{
	cursor: pointer;
}


#join_agree {
	float: right;
	background: rgb(11, 47, 127);
	color: white;
}

#join_cancel {
	float: left;
	background: #fff;
}

#join_agree:hover {
	animation-name: agreeBoxColorAnimation;
	animation-duration: 0.3s;
	background: rgb(33,104,177);
}

@keyframes agreeBoxColorAnimation{
	0% {background: #0B2F7F;}
	100% {background: #2168B1;}
}

#join_cancel:hover {
	animation-name: cancelBoxColorAnimation;
	animation-duration: 0.3s;
	background: rgb(250,250,250);
}

@keyframes cancelBoxColorAnimation{
	0% {background: #FFFFFF;}
	100% {background: #FAFAFA;}
}

#join_cancel:after {
	content: "";
	display: block;
	clear: both;
}

/* 화면3 */
#join_inner_3 {
	background: #fff;
	position: relative;
	width: 350px;
	height: 860px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	display: none;
}

.join_circle {
	color: red;
	font-size: 22px;
}

div#recCodeBox {
	background: rgb(250,250,250);
	border-left: 5px rgb(73,148,236) solid;
	padding: 15px;
	margin-bottom: 10px;
	font-size: 10pt;
}

#profile_img {
	border-radius: 50%;
	margin: 10px;
	margin-left: 135px;
	width: 80px; height: 80px;
	cursor: pointer;
}

div#join_inner_3 form div {
	margin-bottom: 20px;
}

div#join_inner_3 input{
	border: 1px #a9a9a9 solid;
}

button#join_submit {
	width: 355px;
	height: 40px;
	background: rgb(11,47,127);
	color: white;
	font-size: 15px;
	border: none;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

input.input_box {
	width: 340px;
	height: 30px;
	font-size: 15px;
	padding: 4px 7px;
}

.join_Id_Check {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-right: 5px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	display: inline-block;
	border: 1px #a9a9a9 solid;
	color: black;
	font-size: 11pt;
	padding: 10px 0;
	cursor: pointer;
}

.join_Id_Check:hover {
	border: 1px black solid;
}

div#join_inner_3 h3,
div#join_inner_3 h4{
	font-size: 11pt;
	margin-bottom: 5px;
	font-weight: normal;
}