* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

div#mypage_modal_outer {
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	position: fixed;
	width: 100%; height : 100%;
	overflow: hidden;
	padding-top: 10px;
	z-index: 1000;
	display: block;
	overflow-y: initial;
}

h2#mypage_modal_title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 17pt;
}

div.modal_exit {
	color: lightgray;
	font-size: 40px;
	position: absolute;
	left: 350px;
	top: 0px;
	cursor:pointer;
}

div.modal_exit:hover {
	color: black;
}

div.modal_exit_ex {
	position: absolute;
	background: black;
	color: white;
	text-align: center;
	width: 40px;
	height: 15px;
	left: 345px;
	top: 40px;
	border-radius: 5px;
	font-size: 12px;
	display: none;
}

#modify_inner {
	background: #fff;
	position: relative;
	width: 350px;
	height: 1100px;
	margin: 80px auto;
	padding: 20px;
	border-radius: 5px;
	display: block;
}

#member_grade{
	font-size: 13px;
	text-align: center;
}

#member_grade span{
	border-radius: 10px;
	background: gray;
	color: white;
	text-align: center;
}

#member_grade div{
	color: gray;
}
#member_grade div span{
	background: none;
	color: #004A98;
}

.sub_title>span {
	color: red;
	font-size: 22px;
}

#profile_img {
	border-radius: 50%;
	margin: 10px;
	margin-left: 135px;
	width: 80px; height: 80px;
	cursor: pointer;
}

input.input_box {
	width: 320px;
	height: 30px;
	font-size: 14px;
	padding: 4px 12px;
	border: 1px #a9a9a9 solid;
}

#id_check{
	font-size: 16px;
	margin: 20px 0px;
	line-height: 30px;
}

#id_check_result{
	font-size: 13px;
}
#id_check_mark{
	color: #3EC731;
	border-radius: 10px;
	border: #3EC731 solid 1px;
	font-weight: bold;
}

.sub_title{
	font-size: 11pt;
	margin-top: 12px;
	margin-bottom: 8px;
}

.tos_check {
	zoom: 1.5;
	vertical-align: middle;
	cursor: pointer;
	margin: 3px 0px;
}

label{
	font-size: 15px;
}

button#modify_submit {
	width: 350px;
	height: 40px;
	background: rgb(11,47,127);
	color: white;
	font-size: 15px;
	border: none;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	margin-top: 20px;
}

#naver_start {
	width: 350px;
	height: 30px;
	background: #66D05D;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
}

#kakao_start {
	width: 350px;
	height: 30px;
	background: #FCEC4F;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	margin-top: 10px;
	cursor: pointer;
}

#withdraw_inner {
	background: white;
	position: relative;
	width: 600px;
	height: 220px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	display: none;
}
#withdraw_inner h2+div{
	font-size: 13px;
	line-height: 20px;
}
#withdraw_inner div+div{
	width: 176px;
	margin: 0px auto;
}

h2.withdraw_title {
	text-align: center;
	margin: 20px 0px;
	font-size: 18pt;
}

.withdraw_inner_btn {
	display: inline-block;
	height: 40px;
	padding: 10px 0;
	cursor: pointer;
}

#withdraw_agree {
	float: right;
	background: #004A98;
	color: white;
	border: none;
	width: 100px;
	margin-left: 3px;
}

#withdraw_cancel {
	border: 1px solid #CCCCCC;
	float: left;
	background: #fff;
	width: 70px;
	margin-right: 3px;
}

#withdraw_cancel:hover {
	background: rgb(250,250,250);
	border: 1px black solid;
}

#withdraw_cancel:after {
	content: "";
	display: block;
	clear: both;
}