@charset "UTF-8";

*{margin: 0 ; padding: 0;}
	li{list-style-type:none}
	
body,html{
    width: 100%;
    
}	
	
	.category {
      display: flex;
	  justify-content: center;
	  margin-bottom:10px;
	  padding: 45px 0 10px 0;	  
      }   
      
	.category span {
      padding:15px;
      color: gray;
      font-size: 14px;    
      }
	
	.category a{ 
		color: Black; 
		text-decoration:underline;
		}
	.category_line{
		color:black; 
		text-decoration:underline;
	}	
		
	.category span:hover{
		color: black;
		
	}
	
	.contents_line{
		content: "";
		flex-grow: 1;
		background: #F2F2F2;
		height: 1.5px;
		font-size: 0px;
		line-height: 0px;
	}
	
	.contents {
	  display: flex;
	  justify-content: center; 
	  align-items: center;
	  margin: 20px 0px;
	 
	}
	strong{font-size: 15px; color: black; }
	.contents1{
		margin: 20px 10px 20px 10px;
	}
	.contents2{
		margin: 50px 10px 30px 10px;
	}
	.contents3{
		margin: 0px 10px 31px 10px;
	}
	.contents4{
		margin: 0px 10px 13px 10px;
	}


	.re {
		opacity: 1;
 		filter:alpha(opacity=100);
	}
	
	.re:hover{
		opacity: 0.7;
		filter:alpha(opacity=75);
	}		
		
		
	#percent{
	 color: #FF0000;
	}		
	
	h4{font-size: 15px; margin: 15px 0;}
	.contents1 p {font-size: 12px; margin: 7px 0;}
	.contents2 p {font-size: 12px; margin: 7px 0;}
	.contents3 p {font-size: 12px; margin: 7px 0;}
	.contents4 p {font-size: 12px; margin: 7px 0;}
	
	.material-symbols-outlined{
	  font-variation-settings:
	  'FILL' 0,
	  'wght' 300,
	  'GRAD' 0,
	  'opsz' 30
		}

.product_detail_price{
	color: #0042A9;
	font-size: 12pt;
}

.former_price{
	text-decoration: line-through;
	font-size: 9pt;
}
