@charset "UTF-8";

*{margin: 0 ; padding: 0;}
	li{list-style-type:none}
	
body,html{
    width: 100%;
    
}	
table {
	margin-right: auto;
	margin-left: auto;
}

/* 이미지,가격,설명 */ 
.product{ 
	width:1270px;
	display:flex;
    justify-content: center;
    align-items: center;
}    
    
/* 카테고리 */ 
.var{margin:60px 0 20px 0; font-size: 12px; cursor:pointer;}   
.home{color: gray;}
.home:hover{color: black;}
.all{color: black;}
/* 상품 이미지 */
.img{
   display: flex;
    justify-content: center;
   }
.img_detail{padding-right: 100px;}
/* 상품 상세*/
.product_detail{
	padding: 0 0 20px 0; 
	border-bottom: 1px solid lightgray;
}
.product_detail p{
	font-size: 22px; 
	margin-bottom: 5px;
}
.product_detail_price{
	color: #0042A9;
}
.product_detail_text{
	padding: 20px 0 20px 0; 
	border-bottom: 1px solid lightgray; 
	font-size: 14px;
}
.product_detail_text2{
	font-size: 14px; 
	margin-top: 20px;
}
.product_detail_text2 strong{
	color: #0A2155;
}
.product_detail_text3{
	font-size: 14px;
}
.product_detail_text3 p{
	margin-bottom: 5px;
}
.product_detail_option{
	margin-bottom: 20px; 
	width: 566.5px; 
	height: 30px;
	cursor: pointer;
}
h4{font-size: 14px; margin-bottom: 5px;}
.button{
	display: flex;
}      
.btn1{
	display: block;
	border: 0;
	padding: 13px 40px;
	background: #0A2155;
	font-size: 15px;
	color: #FFFFFF;
	cursor: pointer;
	width: 180px;
	margin: 15px 12.7px 10px 0px; 
}   
.btn2{
	display: block;
	padding: 13px 40px;
	background: #FFFFFF;
	border: 0.03px solid #BDBDBD;
	font-size: 15px;
	color: #000000;
	cursor: pointer;
	width: 180px;
	margin: 15px 12.7px 10px 0px; 
}
.btn3{
	display: block;
	padding: 13px 40px;
	background: #FFFFFF;
	border: 0.03px solid #BDBDBD;
	font-size: 15px;
	color: #000000;
	cursor: pointer;
	width: 180px;
	margin: 15px 0 10px 0px; 
}
.btn1:hover{
	opacity: 0.7;
	filter:alpha(opacity=75);
}
.btn2:hover{
	border-color: #000;
}
.btn3:hover{
	border-color: #000;
}
/* 상단 포토구매평 */
.photopyong{
	display: flex; 
	justify-content: center; 
	padding: 20px 0px 40px 15px; 
	margin: 30px 0px 30px 30px; 
	border: 1px solid #BDBDBD;
	width:1270px;
}
.photopyong small{
margin-right: 10px;
}
.photopyong_more{
	background: white;
	width: 40px;
	height: 26px;   
	color: gray;
	border: 0.03px solid #BDBDBD;
	cursor: pointer;
	margin:-2px; 
}
.miniphoto{
	margin: 30px 20px 10px 0; 
	font-size: 13px; 
	cursor: pointer;
}
.miniphoto1{
	margin: 30px 0px 10px 20px; 
	font-size: 13px; 
	cursor: pointer;
}
.miniphoto img{margin-left: 20px;}
.miniphoto1 img{margin-left: 20px;}
.miniphoto_img{margin-top: -25px;}
.miniphoto_img1{
	margin-top: -25px; 
	padding-left:190px; 
}
/*3개의 카테고리 이미지들..*/
.detail{width: 1270px; padding-left: 2px;}
.category{
	  cursor: pointer;	
      font-size:14px; color: #D2D2D2; 
      display: flex;
       justify-content: center;
       padding: 50px 0 20px 0;
       border-bottom: 1px solid #BDBDBD;       
}
.category strong{
      border-radius:100px; font-size: 10px; 
      background-color: #8BBCFF; padding: 2px; 
      color: black; margin: 0 5px;
}
.category_a:hover{color: black;}
.category_b:hover{color: black;}
.category_c:hover{color: black;}
/*FRESH/DELIVERY/A/S*/
.delivery{border-top: border: 1px solid #BDBDBD; margin: 30px 30px 50px 30px;}    
.delivery{
   text-align: left;  width: 1270px;
   border-bottom:  border: 1px solid #BDBDBD;
} 
.delivery th{color: rgb(23, 50, 114); font-size: 20px;} 
 .delivery td{font-size: 14px;
}    
/*상품정보 제공고시*/
.table{
	width:1270px;
   border-spacing:0; 
   font-size: 12px;
}
.table th, .table td{
	padding: 10px 10px;
	border-bottom: 1px solid #BDBDBD;
}
.table th{
	text-align: left; 
	background-color: #F6F6F6;
	font-style: normal;
	font-weight: normal;
}
/*구매평*/
.container{ 
	width:1270px;  
	display: flex;
    justify-content: center; 
    background-color: #EDEDED;
    padding: 30px 0 0 5px;
    margin-left: 5px;
}
/*별점*/
.star{text-align: center; margin: 50px 40px 30px 0;}
.star_img{color: red; margin-bottom:10px; font-size: 18px; cursor: context-menu;}
.star strong{font-size: 35px;}
.star_t{font-size: 13px; margin: 10px 0;}
/*그래프*/    
.graph{font-size: 14px; padding:50px 50px 50px 25px;} 
.graph p{margin: 0 10px;}
.containergraph_5 {display: flex; padding-bottom: 10px;}
.containergraph_4 {display: flex; padding-bottom: 10px;}
.containergraph_3{display: flex; padding-bottom: 10px;} 
.containergraph_2 {display: flex; padding-bottom: 10px;}
.containergraph_1{display: flex;}
.graph_5 {height:10px; background:#ccc; border-radius: 40px; width:250px; }
.graph_4 {height:10px; background:#ccc; border-radius: 40px; width:250px; }
.graph_3 {height:10px; background:#ccc; border-radius: 40px; width:250px; }
.graph_2{height:10px; background:#ccc; border-radius: 40px; width:250px; } 
.graph_1{height:10px; background:#ccc; border-radius: 40px; width:250px; }
.graph_5 span {
   display: block; width: 80%; height: 10px; line-height: 10px; 
   text-align: right; background: red; border-radius:40px; 
}
.graph_4 span {
   display: block; width: 30%; height: 10px; line-height: 10px; 
   text-align: right; background: red; border-radius:40px; 
}
.graph_3 span {
   display: block; width: 20%; height: 10px; line-height: 10px; 
   text-align: right; background: red; border-radius:40px; 
}
.graph_2 span {
   display: block; width: 10%; height: 10px; line-height: 10px; 
   text-align: right; background: red; border-radius:40px; 
}
.graph_1 span {
   display: block; width: 0%; height: 10px; line-height: 10px; 
   text-align: right; background: red; border-radius:40px; 
}
/*포토 구매평 모아보기*/   
.review{margin: 25px 0px 25px 50px;}
.review_t{text-align: center;margin-bottom: 5px;}
.review img{margin: 0 3px; cursor:pointer;}
.bt1{
	position: absolute; 
	margin: 52px 0px 0 -20px; 
	font-size: 25px;
	cursor:pointer;
	border: none;
}
.bt2{
	position: absolute;  
	margin: 52px 0px 0 5px; 
	font-size: 25px; 
	cursor:pointer;
	border: none;
}
/*구매평*/
.Purchasing_review{text-align: left; width:1270px; margin-left:15px; border-spacing:0;}
.Purchasing_review td{ border-bottom: 1px solid #BDBDBD;}
.Purchasing_review strong{font-size: 18px; font-weight: bold;}
.Purchasing_review_t{margin: 30px 0 20px 0; font-size: 13px;}
.Purchasing_review span{
	border-radius:100px; 
	font-size: 13px; 
    background-color:#8BBCFF; 
    padding: 2px; 
    color: black; 
    margin: 0 5px;
    font-weight: bold;
}
.bt_write{
	display: block;
	border: 0;
	background: #0A2155;
	font-size: 15px;
	color: white;
	cursor: pointer;
	padding: 10px 20px 10px 28px;
	width: 85px;
}
.bt_write:hover{ 
		opacity: 0.7;
		filter:alpha(opacity=75);
}
.bt_write a{ color: white;}
.Purchasing_review_miniphoto p{margin: 10px 0;}
.Purchasing_review_miniphoto img{margin: 40px 10px 20px 0;}
.Purchasing_review_miniphoto span{font-size: 15px;}
.page{cursor:pointer; font-style: normal;}
.page:hover {
	color: Black; 
}






/* product_group_order */
/* 상품 이미지 */
.pd{margin-bottom: 170px;}

.button_order{
	 margin-top: -20px;
}	
.btn_order{
	display: block;
	padding: 13px 40px;
	background: #FFFFFF;
	border: 0.01px solid #BDBDBD;
	font-size: 15px;
	color: #000000;
	cursor: pointer;
	width: 562px;
}		
.btn_order:hover{
	border-color: #000;
}

/*카카오톡 주문창*/
.order{padding: 20px 500px 20px 10px;  font-size: 14px; border: 1px solid #BDBDBD;}	
}
.kakao{cursor:pointer;}
.kakao:hover {
	cursor:pointer;	
} 

/*구매평*/
.Purchasing_review_1{text-align: left; width:1270px;border-spacing:0;  padding: 45px 0 100px 0;}
.Purchasing_review_1 strong{font-size: 18px; font-weight: bold;}
.Purchasing_review_1 span{
	border-radius:100px; 
	font-size: 13px; 
    background-color:#8BBCFF; 
    border-radius:100px;
    padding: 2px; 
    color: black; 
    margin: 0 5px;
    font-weight: bold;
}
.bt_write_1{
	display: block;
	border: 0;
	background: #0A2155;
	font-size: 15px;
	color: white;
	cursor: pointer;
	padding: 10px 20px 10px 28px;
	margin-bottom: 35px;
	width: 80px;
}
.bt_write_1 a{color: white;}
.bt_write_1:hover{ 
		opacity: 0.7;
		filter:alpha(opacity=75);
}	
		
		
		
/* product_group_order2 */		
/* 카테고리 */ 
.all1{color: gray;}
.all1:hover{color: black;}
.group{color: black;}		
		